:root{
    --color-primary:#B088ff;
    --color-white:#e9e9e9;
    --color-black:#141d28;
}

.box{
    margin-left: 76px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.logo1{
    color: #fdfdfd;
    font-size: 2.5rem;
}
.logo1 span{
    color: #b088ff;
}

.logo2{
    color: #fdfdfd;
    font-size: 2.7rem;
}
.logo2 span{
    color: #e8b39f;
}

/*第一个导航栏*/
.menu-bar1{
    min-width: 600px;
    background-color: #333333;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}
.menu-bar1 ul{
    list-style: none;
    display: flex;
}
.menu-bar1 ul li{
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
.wrapper{
    margin-left: 200px;
}
.menu-bar1 ul li a{
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;

    transition: all 0.3s;
}
.menu-bar1 ul li a:hover{
    color: #63bfd6;
}
.menu-bar1 ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333333;
}
.menu-bar1 ul li:hover .dropdown-menu ul{
    display: block;
    margin: 8px;
}

/*第二个导航栏*/
.menu-bar2{
    min-width: 600px;
    background-color: #333333;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}
.menu-bar2 ul{
    margin-left: -200px;
    list-style: none;
    display: flex;
}
.menu-bar2 ul li {
    width: 100px;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}
.wrapper{
    margin-left: 130px;
}
.menu-bar2 ul li a{
    font-size: 29px;
    color: aliceblue;
    text-decoration: none;

    transition: all 0.3s;
}
.menu-bar2 ul li a:hover{
    color: #63bfd6;
}
.menu-bar2 ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    width: 180px;
    right: 5px;
    top: 50px;
    background-color: #333333;
}
.menu-bar2 ul li:hover .dropdown-menu ul{
    display: block;
    margin: 8px;
}
.dropdown-menu{
    font-size: 10px;
}

/*突破*/
.menu-bar2 ul li:hover .dropdown-menu-1{
    display: none;
    font-size: 10px;
}
.dropdown-menu ul li:hover .dropdown-menu-1{
    display: block;
    position: absolute;
    background-color: #333333;
    width: 211px;
    right: 100px;
    top: 0;
    margin: 8px;
}

.国际田联{
    display: inline;
    float: left;
    width: 380px;
    margin-top: -125px;
}
.消息{
    width: 660px;
    margin-top: 100px;
}


.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.dropdown-menu{
    display: none;
}


.风格{
    width: 530px;
    margin: auto;
    text-align: center;
}

.box{
    width: 450px;
    margin-top: -35px;
    height: 12px;
}
.time p{
    font-size: 33px;
    color: #e3a8e8;
}

/*新闻*/
.风格 .news1{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;;
    margin-top: -10px;
    height: 200px;
}
.风格 .news2{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 12px;
    height: 200px;
}
.风格 .news3{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 12px;
    height: 200px;
}
.风格 .news4{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.风格 .news5{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.风格 .news6{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.风格 .news7{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.风格 .news8{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.风格 .news9{
    width: 720px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
    height: 200px;
}
.n2009xw{
    width: 131px;
    border: 2px solid #ccc;
    float: right;
    margin-right: 40%;
    margin-top: 26px;
    height: 99px;
}